<h1>Lista de Requisitos Metrológicos</h1>

<table>
  <thead>
    <tr>
      <th>Nome do requisito</th>
      <th>Valor do requisito</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requisitometrologicos.each do |requisitometrologico| %>
      <tr>
        <td><%= requisitometrologico.nome_do_requisito %></td>
        <td><%= requisitometrologico.valor_do_requisito %></td>
        <td><%= link_to 'Show', requisitometrologico %></td>
        <td><%= link_to 'Edit', edit_requisitometrologico_path(requisitometrologico) %></td>
        <td><%= link_to 'Destroy', requisitometrologico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Requisito Metrológico', new_requisitometrologico_path %>
