<p id="notice"><%= notice %></p>

<p>
  <strong>Nome do requisito:</strong>
  <%= @requisitometrologico.nome_do_requisito %>
</p>

<p>
  <strong>Valor do requisito:</strong>
  <%= @requisitometrologico.valor_do_requisito %>
</p>


<%= link_to 'Edit', edit_requisitometrologico_path(@requisitometrologico) %> |
<%= link_to 'Back', requisitometrologicos_path %>
