<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% if signed_in? %>
        <%= link_to "Função Metrologica!", reqmetro_path,
                                        class: "btn btn-large btn-primary" %>
        <%= link_to "Gestão de Recursos!", root_url,
                                        class: "btn btn-large btn-primary" %>
        <%= link_to "Comprovação Metrologica!", root_url,
                                        class: "btn btn-large btn-primary" %>
        <%= link_to "Analise e Melhoria!", root_url,
                                        class: "btn btn-large btn-primary" %>
        <br><br><br>
      <% end %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>