<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% if signed_in? %>
        <ul class="nav nav-pills">
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Controle Metrológico
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if current_user.admin? %>
                <li><%= link_to "Cadastro de Usuários", signup_path %></li>
                <li><%= link_to "Grupo Usuários", user_groups_url %></li>
              <% end %>
              <li><%= link_to "Requisitos Metrológicos", reqmetro_url %></li>
            </ul>
          </li>

          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Gestão de Recursos
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Usuários Cadastrados", users_path %></li>
              <li><%= link_to "Gestão de Documentos", uploads_path %></li>
              <li><%= link_to "Recursos Materiais", root_url %></li>
            </ul>
          </li>
          
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Comprovação Metrológica
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Em construção...", root_url %></li>
            </ul>
          </li>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Análise e Melhoria
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to " --- ", root_url %></li>
              <li><%= link_to " --- ", root_url %></li>
            </ul>
          </li>
          <br><br><br>
        </ul>
      <% end %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>